<html>
<head>
	<title>EasyTemplate</title>
</head>
<body>
	<p>Welcome to EasyTemplate</p>
	<p>Please register</p>
	<form action="/user/register" method="post">
		<input type="text" name="user" id="user" placeholder="Username">
		<input type="email" name="email" id="email" placeholder="Email">
		<input type="password" name="pass" id="pass" placeholder="Password">
		<input type="password" name="pass2" id="pass2" placeholder="Password">
		<input type="submit" value="Register">
	</form>
</body>
</html>
